<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./assets/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head> 
<body>
    <div id="app">
        <h1>
            {{ title }}
            <!-- {{ `${product} ${brand}`}} -->
        </h1>
        <product-display :premium="premium" @add-to-cart="updateCart"  @remove-from-cart="cleanCart" :cart="cart"></product-display>
        <p>
            {{description}}
        </p>
        <a :href="url">
            <img :src="image" alt="bruh moment" style="height: 100px;" :class="{'out-of-stock-img':!inStock}">
        </a>
        
        <p v-show="inStock">In Stock</p> 

        
        <p v-if="inStock">In Stock</p>
        <p v-else>
            Out of stock
        </p>

        <p v-if="inventory > 10">In stock</p>
        <p v-else-if="inventory <=10 && inventory > 0">almost sold out</p>
        <p v-else>bruh</p>

        <p v-show="onSale">On Sale</p>

        <ul>
            <li v-for="detail in details">{{detail}}</li>

        </ul>

        <ul>
            <li v-for="(v, index) in varijante" 
            :key="v.id" 
            @mouseover="updateVariant(index)">{{v.ime}} {{v.prezime}}</li>
        </ul>
        <ul>
           <p :style="styleExample">yo</p>

            <li v-for="s in sizes" class="size-circle" :style="changeSizeStyle(s)"></li>
        </ul>

        <div class="cart">Cart( {{cart.length}} )</div>
        
    </div>
<!--  -->
<!--  -->

<!--  -->
<!--  -->
    <script src="./main.js"></script>
    <script src="./components/ProductDisplay.js"></script>
    <script src="./components/ProductDetails.js"></script>
    <script src="./components/ReviewForm.js"></script>
    <script src="./components/ReviewList.js"></script>


    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>