<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="./assets/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head> 
<body>
    <div id="app">
        <h1>
            {{ product }}
        </h1>
        <p>
            {{description}}
        </p>
        <a :href="url">
            <img :src="image" alt="bruh moment" style="height: 100px;">
        </a>
        
        <p v-show="inStock">In Stock</p> 
        <!-- u ovom slucaju samo da svojstvo display:none ako je false -->

        
        <p v-if="inStock">In Stock</p>
        <p v-else>
            Out of stock
        </p>

        <p v-if="inventory > 10">In stock</p>
        <p v-else-if="inventory <=10 && inventory > 0">almost sold out</p>
        <p v-else>bruh</p>

        <p v-show="onSale">On Sale</p>

        <ul>
            <li v-for="detail in details">{{detail}}</li>

        </ul>

        <ul>
            <li v-for="v in varijante" :key="v.id">{{v.ime}} {{v.prezime}}</li>
            <!-- za sada nije vidljiv uticaj, ali pružaju se pogodnosti poboljšanja performanse i kasnije će biti od koristi pri animacijama -->
        </ul>
    </div>

    <script src="./main.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>